<div *ngIf="error">NO SUCH VILLAGER LAH</div>
<div *ngIf="!error">
<h3>{{villager.name}}</h3>

<div class="media villager-heading col-md-12 col-sm-12 col-lg-9">
    <img class="mr-3" [src]="getImage(villager.name)">
    <div class="media-body">
        <div class="row villager-row">
            <label class="detail-label col-sm-3 col-lg-2"><i class="fas fa-gift label-icon"></i>Birthday:</label> <div class="col-sm-10">{{villager.birthday}}</div><br>
          </div>
          <div class="row villager-row">
              <label class="detail-label col-sm-3 col-lg-2"><i class="fas fa-heart label-icon"></i>Loves:</label> <div class="col-sm-10"> <span *ngFor="let love of villager.loves; let isLast=last">{{love}}{{isLast ? '' : ', '}}</span> </div><br>
          </div>
          <div class="row villager-row">
              <label class="detail-label col-sm-3 col-lg-2"><i class="fas fa-thumbs-up label-icon"></i>Likes:</label> <div class="col-sm-10"> <span *ngFor="let like of villager.likes; let isLast=last">{{like}}{{isLast ? '' : ', '}}</span> </div><br>
          </div>
        </div>
  </div>

<p></p>

<h4>Schedule</h4>
<mat-accordion>
<div *ngFor="let i of objectKeys(villager.schedule)" class="timetable">
  <div class="timetable-section col-md-12 col-sm-12 col-lg-9" (click)="toTop($event)">
      <mat-expansion-panel [expanded]="false" (afterExpand)="openGroup()">
          <mat-expansion-panel-header [collapsedHeight]="'100%'" [expandedHeight]="'100%'">
        <div class="schedule-title">{{villager.schedule[i].scheduleTitle}}</div>
        </mat-expansion-panel-header>
          <table class="table schedule-table" *ngFor="let j of objectKeys(villager.schedule[i].timetables)">
              <thead class="thead-light">
                <tr>
                  <th colspan=2 scope="col" *ngIf="villager.schedule[i].timetables[j].scheduleSubtitle != ''">{{villager.schedule[i].timetables[j].scheduleSubtitle}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tt of villager.schedule[i].timetables[j].timetable">
                  <th class="timetable-time">{{tt.time}}</th>
                  <td class="timetable-descrption">{{tt.description}}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>

  </div>
 
    
</div>
</mat-accordion>

</div>
