
.schedule-table {
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.wiki-link {
    margin-bottom: 8px;
}
.popover-link {
    cursor: pointer;
    color: #007bff;
}
.popover-link:hover {
    color: #0056b3;
}
.detail-label {
    font-weight: bold;
}
.schedule-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: none;
    cursor: pointer;
}
.villager-heading {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
}
.label-icon {
    margin-right: 8px;
}
.villager-row {
    margin-bottom: .5rem;
}
.mat-expansion-panel-header {
    padding-left: 0px;
}
.mat-expansion-panel-body {
    padding: 0px;
}
.timetable-section {
    padding-left: 0px;
    padding-right: 0px;
}
.timetable-time {
    width: 15%;
}
@media (max-width: 1024px) {
    .timetable-time {
        width: 30%;
    }
}