<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Stardew Valley Helper</h3>
        </div>

        <ul id="sidebar-nav" class="list-unstyled components" #sidebar>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/"><i class="fas fa-home side-menu"></i>Home</a>
            </li>
            <li [routerLinkActive]="['active']" >
                <a routerLink="/villagers" (click)="changeTitle('Villager')"><i class="fas fa-users side-menu"></i>Villagers</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a routerLink="/shops" (click)="changeTitle('Shops')"><i class="fas fa-shopping-cart side-menu"></i>Shops</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a routerLink="/fish" (click)="changeTitle('Fish')"><i class="fas fa-fish side-menu"></i>Fish</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="onClickMe()">
                    <i class="fas fa-align-left"></i>
                </button>

                <div class="autocomplete">
                    <i class="fas fa-search search-icon"></i>
                  <input id="searchbox" type="text" class="form-control" placeholder="Search">
                </div>
                
              </div>
        </nav>
        <div id="content-body">
          <router-outlet></router-outlet>
        </div>
    </div>

    <!-- Dark Overlay element -->
    <div class="overlay"></div>

</div>