<h4>Calendar</h4>
<mat-tab-group>
    <mat-tab label="Spring"> 
      <p></p>
      <h5>Spring 1</h5>
      <img class="calendar-pic" [src]="getImage('Spring1')">
      <p></p>
      <h5>Spring 2</h5>
      <img class="calendar-pic" [src]="getImage('Spring2')">
    </mat-tab>
    <mat-tab label="Summer"> 
      <p></p>
      <h5>Summer 1</h5>
      <img class="calendar-pic" [src]="getImage('Summer1')">
      <p></p>
      <h5>Summer 2</h5>
      <img class="calendar-pic" [src]="getImage('Summer2')">
    </mat-tab>
    <mat-tab label="Fall">
      <p></p>
      <h5>Fall 1</h5>
      <img class="calendar-pic" [src]="getImage('Fall1')">
      <p></p>
      <h5>Fall 2</h5>
      <img class="calendar-pic" [src]="getImage('Fall2')">
    </mat-tab>
    <mat-tab label="Winter">
      <p></p>
      <h5>Winter 1</h5>
      <img class="calendar-pic" [src]="getImage('Winter1')">
      <p></p>
      <h5>Winter 2</h5>
      <img class="calendar-pic" [src]="getImage('Winter2')">
    </mat-tab>
  </mat-tab-group>