<div>
  <div class="row">
    <div class="home-card col-md-12 col-sm-12 col-lg-12">
      <h4>Home</h4>
      <p>
        A quick reference guide to find information more efficiently (hopefully).
      </p>
    </div>
  </div><br>

  <div class="row">
    <div class="home-card col-md-12 col-sm-12 col-lg-6">
      <h4>Change Log</h4>
      
      <div class="changelog-date">2018-11-04</div>
      <ul>
        <li>Added all fishing except Crab Pots</li>
        <li>Popover information for villager universal loves and likes</li>
        <li>Neater alignment of menu icons</li>
        <li>Search and filter for fishes</li>
        <li>Click on the fish row to open the wiki page for it</li>
        <li>Update home page with this</li>
      </ul>
    
      <div class="changelog-date">2018-11-03</div>
      <ul>
        <li>Wiki Link on villager detail page</li>
        <li>Finished the full list of villagers</li>
      </ul>
    
      <div class="changelog-date">2018-11-01</div>
      <ul>
        <li>Add villager icons in the villagers list</li>
        <li>Finished the full list of villagers</li>
      </ul>
    
      <div class="changelog-date">2018-10-27</div>
      <ul>
        <li>Auto scrolling when opening villager schedule</li>
        <li>Expandable villager schedules</li>
      </ul>
    
      <div class="changelog-date">2018-10-21</div>
      <ul>
        <li>Working search bar for searching villagers</li>
        <li>Villager detail page</li>
      </ul>
    
      <div class="changelog-date">2018-10-17</div>
      <ul>
        <li>This page is born!</li>
        <li>Creating webpage structure</li>
      </ul>
    </div>

    <div class="home-card col-md-12 col-sm-12 col-lg-6">
        <h4>Credits</h4>
        <ul>
          <li>All information and images from Stardew Valley Wiki</li>
          <li>Calendar from this <a href="https://www.reddit.com/r/StardewValley/comments/7zhifi/2_year_stardew_valley_calendar_plan_your_day_jot/" target="_blank">
            Reddit post
          </a></li>
        </ul>
    </div>
  
  </div>

</div>